/* .button{
    color : #cfc9b1;
    font-size: xxx-large;
    margin-bottom: 10px;
}
.rotate-button-clicked {
    transform: rotate(45deg);
    transition: 200ms;
  }
.unrotate {
    transition: 200ms;
}
.file{
    margin-left: 80px;
    margin-top: 2px;

}
/* input{
    color : white;
} */ */